#pydantic<2
starlette<=0.34.0
fastapi==0.86
ray[serve,serve-grpc]==2.9.0
numpy==1.26.3
torch==2.1.2
imageio[pyav,ffmpeg]==2.33.1
msgpack==1.0.7
PyYAML==6.0.1
grpcio==1.60.0
grpcio-tools==1.60.0
redis==5.0.1